Package: linux-grsecurity
Source: linux
Version: {{VERSION}}-{{PKGREV}}
Architecture: amd64
Maintainer: Andrew Aldridge <i80and@foxquill.com>
Pre-Depends: dpkg (>= 1.10.24)
Depends: initramfs-tools (>= 0.36ubuntu6) | linux-initramfs-tool, kmod
Recommends: grub-pc | grub-efi-amd64 | grub-efi-ia32 | grub | lilo (>= 19.1)
Suggests: fdutils, linux-doc-4.4.0 | linux-source-4.4.0, linux-tools
Conflicts: hotplug (<< 0.0.20040105-1)
Replaces: linux-libc-dev
Provides: fuse-module, ivtv-modules, kvm-api-4, linux-image, linux-image-3.0, linux-libc-dev
Section: kernel
Priority: optional
Description: Linux kernel image for version {{VERSION}} on 64 bit x86 SMP
 This package contains the Linux kernel image for version {{VERSION}} on
 64 bit x86 SMP.
 .
 Also includes the corresponding System.map file, the modules built by the
 packager, and scripts that try to ensure that the system is not left in an
 unbootable state after an update.
 .
 Supports Generic processors.
 .
 Geared toward desktop and server systems.
