body {
    background-color: grey;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-spacing: none;
}

iframe {
    border: none;
    width: 100%;
    height: fit-content;
    display: block;
    text-decoration-color: orangered;
}