body {
    background-color: grey;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-spacing: none;
    color: 
}

iframe {
    border: none;
    width: 100%;
    height: 590px;
    overflow-y: 'scroll';
    overflow-X: 'hidden';
    display: block;
}